* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 217, 135);
    font-family: sans-serif;
    font-weight: bolder;
    /* background-image: url(./images/alex-lvrs-Md6_qA-BMis-unsplash.jpg); */
    background: url(./BGs/wallpapersden.com_simple-night_1280x800.jpg), rgb(24, 16, 29);
    background-repeat: no-repeat;
    background-size: contain;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* animations */
@keyframes animate {
    0% {
        bottom:0
    }
    
    50%{
        bottom: 6px;
    }
    100%{
        bottom: 0;
    }
}


/* ------Navbar CSS--------- */
nav {
    text-align: center;
    background-color: aliceblue;
    box-shadow: gray 0px 0.5px 10px 1px;
}


h1 {
    margin: 10px;padding: 5px;
	font-size: 2em;
	font-weight: normal;
}

nav a{
    margin: auto 1vw;
}

a {
    /* margin: 7px; */
    padding: 7px;
    text-decoration: none;
    color: black;
}

nav.flex ul a:hover {
    /* color:deepskyblue; */
    color: white;
    background-color: blueviolet;
    border-radius: 25px;
    transition-duration: 0.025s;
    /* text-decoration: underline; */
    /* position:relative; */
    bottom: 4px;
    border-radius: 20px;
    /* background-color: rgb(206, 202, 202); */
    transition-property: background, position;
    transition-duration: 0.8s;
}


/* ------main-body CSS--------- */
main {
    margin: 10vh;
}
main div.flex{
    flex-wrap: nowrap;
}
#my-Image{
    width: 30vw;
}

.myImage {
    border-radius: 100%;
}

#myName {
    color: white;
    font-size: 2.5rem;
}
#caption span {
    font-size: 1.5rem;
}

section h2 span {
    color: rgb(255, 167, 2)
}

.head {
    color: white;
    font-size: 25px;
}

#button {
    width: 100px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: 25px;
    border: none;
    background-color: rgb(97, 97, 248);
    color: white;
    box-shadow: blueviolet 1px 3px 4px;
}

#button:hover {
    position: relative;
    bottom: 1px;
    background-color: blueviolet;
}

section a {
    /* color: black;
    text-decoration: none;
    font-weight: normal; */
    /* margin: auto 5px; */
}

/* section a:hover {
    text-decoration: underline;
} */

main div section a img{
    width: 3vw;
    height: 3vw;
    box-sizing: border-box;
    /* margin: 2vw;padding: 2vw; */
    position: relative;
}

section a img:hover {
    animation: animate 600ms linear 0s infinite alternate-reverse;
    /* width: 3.5vw;
    height: 3.5vw; */
    /* transition-duration: 200ms; */
}

img#git {
    border-radius: 16px;
}



/* gradient effects on fonts */
#a {
    color: rgb(111, 0, 185);
}

#b {
    color: rgb(111, 0, 185);
}

#c {
    color: rgb(111, 0, 185);
}

#d {
    color: rgb(255, 4, 121);
}

#e {
    color: rgb(255, 4, 121);
}

#f {
    color: rgb(255, 4, 121);
}




/* about me -----------------*/
.info-img{
    width: 35vw;
}
main section div.flex{
    flex-wrap: nowrap;
}

main div.info{
    margin: 3vw; padding: 2vw;
    background: cornsilk;
}
main section{
    margin-top: 21vh;
}
.div-mp{
    margin: 2vw;
    padding: 1vw;
}




/* footer */

footer{
    margin: 0; padding: 1vw;
    background: gainsboro;
    font-size: 1em;
    font-weight: normal;
}

footer h3{
    font-size: 1.2em;
    font-weight: lighter;
    margin: 1vw;
}

footer a:hover{
    text-decoration: underline;
}






/* 
footer {
    padding-top: 5px;
}

footer,
footer a,
footer span {
    font-size: 13px;
    font-weight: normal;
    /* color: white; *
    background-color: gainsboro;
}

footer h3 {
    /* margin: 1px 5px; */
    /* padding: auto 15px; *
    /* display: inline-block; *
}

footer div.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 */
